{% extends "master.html" %}
{% load widget_tweaks %}

{% block content %}
  <h2>Connexion</h2>

  <form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger fw-bold">
        {{ form.non_field_errors.as_text }}
      </div>
    {% endif %}

    {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}

          {% if field.errors %}
            {{ field|add_class:"form-control is-invalid" }}
          {% else %}
            {{ field|add_class:"form-control" }}
          {% endif %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
    {% endfor %}

    <input type="hidden" name="next" value="{{ request.GET.next }}" />

    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-outline-primary">Connexion</button>
      <a class="" href="mailto:contact-npt@francilin.fr">Mot de passe oublié</a>
    </div>
  </form>
  <p class="text-center mt-3">{% include "link-support.html" %}</p>
{% endblock %}
