{% extends "master.html" %}
{% load widget_tweaks %}

{% block content %}

  {% if validlink %}
    <h1>Définissez votre nouveau mot de passe</h1>

    <form method="POST">
      {% csrf_token %}

      {% for field in form %}
          <div class="mb-3">
            {{ field.label_tag }}

            {% if field.errors %}
              {{ field|add_class:"form-control is-invalid" }}
            {% else %}
              {{ field|add_class:"form-control" }}
            {% endif %}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
      {% endfor %}

      <button type="submit" class="btn btn-outline-primary">Confirmer</button>
    </form>

  {% else %}

    <p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
    Veuillez demander une nouvelle réinitialisation du mot de passe.</p>

  {% endif %}

{% endblock %}
