{% extends "master.html" %}

{% block content %}
  <h2>Message de réinitialisation du mot de passe: envoyé</h2>

  <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
  <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>

  <p class="text-center mt-3">{% include "link-support.html" %}</p>
{% endblock %}
