{% extends "master.html" %}

{% block content %}
  <h2 class="mb-5">Mise à jour du mot de passe terminée</h2>

  <div class="alert alert-primary">
    <h4>Votre mot de passe a été défini.</h4>
    <hr />
    <p>Vous pouvez maintenant vous authentifier</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Connexion</a>
  </div>

{% endblock %}
