{% extends 'master.html' %}

{% load bootstrap_icons %}

{% block content %}
    <h4 class="alert-heading text-center mt-5">Section non autorisée</h4>
    <p class="text-center mt-2">
      {% bs_icon "sign-stop-fill" color="red" %}
      Vous n’avez pas les droits pour consulter cette page
      {% bs_icon "sign-stop-fill" color="red" %}
    </p>
    <p class="text-center mt-3">{% include "link-support.html" %}</p>
{% endblock %}
