{% extends 'master.html' %}
{% load static %}

{% block content %}
    <h4 class="alert-heading text-center mt-5">Page introuvable</h4>
    <p class="text-center mt-2">Cliquez sur le bouton d’accueil pour afficher le contenu par défaut.</p>
    <p class="text-center mt-3">{% include "link-support.html" %}</p>
{% endblock %}
