{% load static %}

<div class="row my-5">
  <div class="col-6 align-self-center">
    <p class="text-end">
      Un programme porté par la <strong>Métropole du Grand Paris</strong><br/>et le <strong>Hub&nbsp;Francil'in</strong>
    </p>
  </div>

  <div class="col-6">
    <img src="{% static '/MGP.jpg' %}" height="125" class="me-1"/>
    <img src="{% static '/francilin.png' %}" height="60" />
  </div>
</div>
<div class="row text-center mb-5">
  <div class="col-6">
    <a href="{% static '/Mentions légales.pdf' %}">
      <small>Mentions légales</small>
    </a>
  </div>
  <div class="col-6">
    <a href="{% static '/Conditions générales d\'utilisations.pdf' %}">
      <small>Conditions générales d'utilisations</small>
    </a>
  </div>
</div>
