{% load static %}
{% load bootstrap_icons %}

<html>
  <head>
    <title>Plateforme numérique pour tous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}" >

    {% load django_bootstrap5 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
      .bi {
        width: 24;
        height: 24;
      }

      .btn-outline-primary {
        --bs-btn-color: #007b9c;
        --bs-btn-border-color: #007b9c;

        --bs-btn-hover-bg: #007b9c;
        --bs-btn-hover-border-color: #007b9c;

        --bs-btn-active-border-color: #007b9c;
        --bs-btn-active-bg: #007b9c;

        --bs-btn-disabled-color: #007b9c;
        --bs-btn-disabled-border-color: #007b9c;
      }

      .link-primary {
        color: #007b9c!important;
      }

      .not-allowed {
        cursor: not-allowed;
      }

      input:read-only {
        background-color: #e9ecef;
        cursor: default;
      }

      .accordion {
        --bs-accordion-active-bg: transparent;
      }
      .accordion.accordion-flush {
        --bs-accordion-border-width: 0;
      }
      .accordion-button:focus {
        box-shadow: none;
        border-color: transparent;
      }
    </style>
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
          {{ message|safe }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="container">
      <nav class="navbar navbar-expand-xl">
        <div class="container-fluid px-0">
          <a class="navbar-brand" href="{% url 'beneficiaries:index' %}" title="Retour à l’accueil">
            <img src="{% static '/logo_npt.png' %}" width="200" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarPrimary"
            aria-controls="navbarPrimary"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" class="mb-0">
              {% csrf_token %}
              {{ user }}
              {% if user.structure %}
                | {{ user.structure}} |
              {% endif %}

              {% for group in user.groups.all %}
                <span class="badge text-bg-secondary text-lowercase">{{ group.name }}</span>
              {% endfor %}

              <button type="submit" href="{% url 'logout' %}" class="btn fs-2 pe-0">
                {% bs_icon 'box-arrow-right' %}
              </button>
            </form>
          {% endif %}
        </div>
      </nav>
      <nav class="navbar navbar-expand-md mb-3 border-bottom pb-3 pt-3">
        <div class="container-fluid px-0">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSecondary"
            aria-controls="navbarSecondary"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSecondary">
            <ul class="nav nav-pills">
              {% with request.resolver_match.url_name as url_name %}
                {% if perms.beneficiaries.view_beneficiary %}
                  <li class="nav-item">
                    <a href="{% url 'beneficiaries:index' %}" class="nav-link {% if url_name == 'index' %}active{% endif %}">Bénéficiaires</a>
                  </li>
                {% endif %}

                {% if perms.beneficiaries.view_subsidies %}
                  <li class="nav-item">
                    <a href="{% url 'subsidies_index' %}" class="nav-link {% if url_name == 'subsidies_index' %}active{% endif %}">Subventions</a>
                  </li>
                {% endif %}

                <li class="nav-item">
                  {% include "link-support.html" %}
                </li>
              {% endwith %}

              <li class="nav-item">
                <a href="{% url 'structures_index' %}" 
                  class="nav-link {% if url_name == 'structures_index' %}active{% endif %}">
                  Répertoire structures
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'educational_index' %}" 
                  class="nav-link {% if url_name == 'educational_index' %}active{% endif %}">
                  Contenus pédagogiques
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock %}

      {% include "footer.html" %}
    </div>
  </body>
</html>
