{% extends "master.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <iframe class="airtable-embed" src="https://airtable.com/embed/apprfNVlOYcgsARig/shrBskekPhbPKst5m" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>
{% endblock %}
