{% extends 'master.html' %}

{% load widget_tweaks %}

{% block content %}
  <h2>Profil {{beneficiary.get_entity_verbose_name}} de : {{ beneficiary }}</h2>

  <form action="{% url 'beneficiaries:assign_action' beneficiary.id %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-4">
        <label>Structure de médiation qui assure la prise en charge :</label>
        <input disabled value="{{ user.structure|default_if_none:'' }}" class="form-control"/>
      </div>
    </div>
    {% if form.non_field_errors %}
      <div class="alert alert-danger fw-bold">
        {{ form.non_field_errors.as_text }}
      </div>
    {% endif %}

    {% for field in form %}
      <div class="mb-4 form-required">
        {{ field }}
      </div>
    {% endfor %}

    {% for field in start_support_form %}
        {% if field.widget_type != "hidden" %}
          <div class="row">
            <div class="mb-4 form-required col-4">
              {{ field.label_tag }}

              {% if field.errors %}
                {{ field|add_class:"form-control is-invalid" }}
              {% else %}
                {{ field|add_class:"form-control" }}
              {% endif %}

              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}

              {% if field.errors %}
                <div class="invalid-feedback fw-bold">
                  {{ field.errors.as_text }}
                </div>
              {% endif %}
            </div>
          </div>
        {% else %}
          {{ field }}
        {% endif %}
    {% endfor %}

    <div class="mb-3">
      <input type="checkbox" required class="me-1" id="cgu"/>
      <label class="d-inline" for="cgu">Le bénéficiaire a effectué un test de placement et a été informé qu'une fois pris en charge par ma structure, il ne pourra pas bénéficier d'un accompagnement par une autre structure de médiation dans le cadre de Numérique pour tous.</label>
    </div>
    <button class="btn btn-primary d-block mb-3" type="submit">Prendre en charge</button>
  </form>
{% endblock %}
