{% load widget_tweaks %}
{% load bootstrap_icons %}

{% csrf_token %}
<div class="alert alert-secondary" role="alert">{% bs_icon "exclamation-diamond" %}&nbsp;L'ensemble des éléments est obligatoire</div>
{% if form.non_field_errors %}
  <div class="alert alert-danger fw-bold">
    {{ form.non_field_errors.as_text }}
  </div>
{% endif %}
<hr/>
<div class="mb-4">
  <label>Structure de l’orienteur :</label>
  <input disabled value="{{ user.structure|default_if_none:'' }}" class="form-control"/>
</div>
<hr/>
{% for field in form %}
  <div class="mb-4 form-required">
    {% if field.name == "gender" %}
      {% for choice in field%}
        <div class="form-check">
          {{choice.tag}}
          <label for="{{choice.id_for_label}}" class="form-check-label">{{choice.choice_label}}</label>
        </div>
      {% endfor %}
    {% else %}
      {% if field.widget_type != "hidden" %}
        {{ field.label_tag }}
      {% endif %}

      {% if field.errors %}
        {{ field|add_class:"form-control is-invalid" }}
      {% else %}
        {{ field|add_class:"form-control" }}
      {% endif %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    {% endif %}
    {% if field.errors %}
      <div class="invalid-feedback fw-bold">
        {{ field.errors.as_text }}
      </div>
    {% endif %}
  </div>
{% endfor %}

<div class="alert alert-secondary" role="alert">
  Une fois le profil bénéficiaire créé,
  il pourra se rendre dans la structure de médiation de son choix. <br />
  La structure de médiation retrouvera le profil grâce au numéro de téléphone,
  ou au code d’identification du bénéficiaire.
</div>

<a href="{% url 'beneficiaries:index' %}" class="mx-3 link-secondary">Annuler</a>
