{% extends "master.html" %}

{% load widget_tweaks %}

{% block content %}
  <form action="{% url 'beneficiaries:change_phone' beneficiary.id %}" method="post">
    {% csrf_token %}
    <fieldset>
      <h2>Édition du profil de : {{ beneficiary }}</h2>

      {% if form.non_field_errors %}
        <div class="alert alert-danger fw-bold">
          {{ form.non_field_errors.as_text }}
        </div>
      {% endif %}

      <div class="mb-4">
        <label>Structure de l’orienteur :</label>
        <input disabled value="{{ user.structure|default_if_none:'' }}" class="form-control"/>
      </div>

      <hr/>

      {% for field in form %}
        <div class="mb-4 form-required">
          {% if field.widget_type != "hidden" %}
            {{ field.label_tag }}
          {% endif %}

          {% if field.errors %}
            {{ field|add_class:"form-control is-invalid" }}
          {% else %}
            {{ field|add_class:"form-control" }}
          {% endif %}

          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}

          {% if field.errors %}
            <div class="invalid-feedback fw-bold">
              {{ field.errors.as_text }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <a href="{% url 'beneficiaries:index' %}" class="mx-3 link-secondary">Annuler</a>
      <button type="submit" class="btn btn-outline-primary">Éditer</button>
    </fieldset>
  </form>
{% endblock %}
