{% extends "master.html" %}

{% block content %}
  <form action="{% url 'beneficiaries:change' beneficiary.id %}" method="post">
    <fieldset>
      <h2>Édition du profil de : {{ beneficiary }}</h2>
      {% include 'beneficiaries/beneficiary_form.html' %}
      <button type="submit" class="btn btn-outline-primary">Éditer</button>
    </fieldset>
  </form>
{% endblock %}
