{% extends 'master.html' %}

{% load bootstrap_icons %}
{% load widget_tweaks %}

{% block content %}

  <h2>Profil {{beneficiary.get_entity_verbose_name}} de : {{ beneficiary }}</h2>
  <div class="alert alert-secondary" role="alert">{% bs_icon "exclamation-diamond" %}&nbsp;L'ensemble des éléments est obligatoire</div>

  <form action="{% url 'beneficiaries:end_of_support_action' beneficiary.id %}" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger fw-bold">
        {{ form.non_field_errors.as_text }}
      </div>
    {% endif %}


    <div class="row">
      <div class="mb-4 col">
        <label>Structure de l’opérateur :</label>
        <input disabled value="{{ user.structure|default_if_none:'' }}" class="form-control"/>
      </div>

    {% for field in form %}
        {% if field.widget_type != "hidden" %}
          <div class="mb-4 form-required col">
            {{ field.label_tag }}

            {% if field.errors %}
              {{ field|add_class:"form-control is-invalid" }}
            {% else %}
              {{ field|add_class:"form-control" }}
            {% endif %}

            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
              <div class="invalid-feedback fw-bold">
                {{ field.errors.as_text }}
              </div>
            {% endif %}
          </div>
          {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
    </div>

    <hr/>

    {% for field in end_of_support_form %}
      <div class="row">
        {% if field.widget_type != "hidden" %}
          <div class="mb-4 form-required col-4">
            {{ field.label_tag }}

            {% if field.errors %}
              {{ field|add_class:"form-control is-invalid" }}
            {% else %}
              {{ field|add_class:"form-control" }}
            {% endif %}

            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}

            {% if field.errors %}
              <div class="invalid-feedback fw-bold">
                {{ field.errors.as_text }}
              </div>
            {% endif %}
          </div>
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    {% endfor %}

    <div>
      <a href="{% url 'beneficiaries:index' %}" class="mx-3 link-secondary">Annuler</a>
      <button type="submit" class="btn btn-primary">Mettre fin à la prise en charge</button>
    </div>
  </form>

{% endblock %}
