{% extends "master.html" %}

{% load static %}
{% load widget_tweaks %}
{% load bootstrap_icons %}

{% block content %}
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid px-0">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSecondary"
        aria-controls="navbarSecondary"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-row-reverse pt-5 pt-md-0" id="navbarSecondary">
        <form action="{% url 'beneficiaries:index' %}" id="search-beneficiaries" class="mb-0 flex-fill">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
              {% for field in form %}
                <div class="mb-4 form-required">
                  {% if field.errors %}
                    {{ field|add_class:"form-control is-invalid" }}
                  {% else %}
                    {{ field|add_class:"form-control" }}
                  {% endif %}

                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}

                  {% if field.errors %}
                    <div class="invalid-feedback fw-bold">
                      {{ field.errors.as_text }}
                    </div>
                  {% endif %}
                  {% if forloop.counter == 1 %}
                    <p class="mt-2 text-center">
                      <span style="background: white;" class="px-3">Ou</span>
                      <span style="margin-top: -12px" class="d-block border-bottom"></span>
                    </p>
                  {% endif %}
                </div>
              {% endfor %}
            {% if form.non_field_errors %}
              <div class="alert alert-danger alert-search-form-empty alert-dismissible" role="alert">
                {{ form.non_field_errors.as_text }}
                <button type="button" class="btn-close" data-bs-hide="alert" aria-label="Fermer"></button>
              </div>
            {% endif %}
            </div>

            <div class="col-lg-2 text-center">
              <div class="row px-2 px-lg-0">
                <button class="btn btn-outline-primary d-block mb-4 mx-md-auto" type="submit">
                  Rechercher &nbsp; {% bs_icon 'search' %}
                </button>
              </div>
              <div class="row">
                <a class="link-secondary fs-6" href="{% url 'beneficiaries:index' %}">Réinitialiser</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <hr class="mt-1 mb-5" />


  {% if type == "search" %}
    <h4 class="mb-4">Les résultats de votre recherche</h4>
    <div class="row mb-5">
      {% include "beneficiaries/table_search.html" %}
    </div>
    <hr class="mt-1 mb-5" />
  {% endif %}

  <div class="row">
    <div class="col">
      <h4 class="mb-4">{{ title }}</h4>
    </div>

    <div class="col">
      {% if perms.beneficiaries.add_beneficiary and user.is_staff is False %}
        <p class="text-end">
          <a class="btn btn-outline-primary mb-3" role="button" href="{% url 'beneficiaries:new' %}">
            Nouveau &nbsp; {% bs_icon 'plus-circle' %}
          </a>
        </p>
      {% endif %}
    </div>
  </div>

  {% include "beneficiaries/table.html" with beneficiary_list=beneficiary_list %}

  <script>
    const formSearch = document.querySelector("#search-beneficiaries")
    const btnClose = formSearch.querySelector(".btn-close")

    btnClose.addEventListener("click", event => {
      event.preventDefault()
      event.target.parentElement.classList.add("d-none")
    })
  </script>

{% endblock %}
