{% extends "master.html" %}

{% block content %}
  <form action="{% url 'beneficiaries:create' %}" method="post">
    <fieldset>
      <h2>Nouveau bénéficiaire</h2>
      {% include 'beneficiaries/beneficiary_form.html' %}
      <button type="submit" class="btn btn-outline-primary">Créer</button>
    </fieldset>
  </form>
{% endblock %}
