{% extends "master.html" %}

{% block content %}
  <div class="card">
    <div class="card-header py-3">
      Profil {{beneficiary.get_entity_verbose_name}} de : {{ beneficiary }}
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Créé le : {{created_at|default_if_none:""}}</li>
      <li class="list-group-item">Structure d’orientation : {{beneficiary.structure_counselor|default_if_none:""}}</li>
      <li class="list-group-item">Structure de médiation : {{beneficiary.structure_operator|default_if_none:""}}</li>
      <li class="list-group-item">Statut : {{beneficiary.get_status}}</li>
      <li class="list-group-item">Prénom : {{beneficiary.first_name}}</li>
      <li class="list-group-item">Nom : {{beneficiary.last_name}}</li>
      <li class="list-group-item">Civilité : {{beneficiary.get_gender}}</li>
      <li class="list-group-item">Classe d’âge : {{beneficiary.age}}</li>
      <li class="list-group-item">Numéro de téléphone : {{beneficiary.phone_number.as_national}}</li>
      <li class="list-group-item">Code d’identification : {{beneficiary.get_huuid}}</li>
      <li class="list-group-item">Niveau du bénéficiaire : {{beneficiary_level|default_if_none:""}}</li>
      <li class="list-group-item">Commentaire de l’orienteur : {{beneficiary.comment|default_if_none:""}}</li>
    </ul>

    <div class="card-footer py-3">
    {% if perms.beneficiaries.change_beneficiary %}
      <a href="{% url 'beneficiaries:edit' beneficiary.id %}" class="btn btn-primary" role="button">Éditer</a>
    {% elif perms.beneficiaries.change_beneficiary_phone %}
      <a href="{% url 'beneficiaries:edit_phone' beneficiary.id %}" class="btn btn-primary" role="button">Éditer le numéro de téléphone</a>
    {% endif %}
    </div>
  </div>

  <div class="text-center"> 
      <a href="{% url 'beneficiaries:index' %}" class="d-block link-primary text-decoration-none mt-2">Retour à la vue d'ensemble</a>
  </div>
  

{% endblock %}
