{% extends "master.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
  <h4 class="mb-4">Synthèse des droits à subvention</h4>

  <p class="mb-0">
    {% if user.is_operator %}
      Votre structure a ouvert les droits à subvention pour un montant total de :
    {% else %}
      L’ensemble des structures ont ouvert les droits à subvention pour un montant total de :
    {% endif %}
    <span class="fs-1"> {{subsidies.total|floatformat:2}} €</span><br />
  </p>

  <p>Total des prises en charges : <strong>{{total_start_support|default_if_none:0}}</strong></p>
  <p>Total des fin de prises en charges : <strong>{{total_end_support|default_if_none:0}}</strong></p>
  <div class="accordion accordion-flush border-0 mb-3" id="accordionLearnMore">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button btn btn-link w-auto gap-3 collapsed px-0 pt-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          En savoir plus
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse bg-light" data-bs-parent="#accordionLearnMore">
        <div class="accordion-body">
          <p>L'accompagnement de bénéficiaires du programme "Numérique pour tous" ouvre le droit à des subventions</p>

          <h3 class="border-bottom mb-3 pb-2">Montants</h3>
          <p>Le montant de la subvention par bénéficiaire est dégressif par année civile :</p>

          <ul>
            <li>2024 : 100 euros par bénéficiaire</li>
            <li>2025 : 80 euros par bénéficiaire</li>
            <li>2026 : 50 euros par bénéficiaire</li>
          </ul>

          <p class="mt-5">Les droits à subvention sont ouverts en deux temps :</p>

          <ol>
            <li>50% versé à l'occasion de la prise en charge du bénéficiaire</li>
            <li>50% versé à la fin du parcours d’accompagnement du bénéficiaire</li>
          </ol>

          <p class="mt-5">La date de prise en charge ou de fin d'accompagnement servira de référence pour le calcul du montant de subvention par personne accompagnée.</p>

          <h3 class="border-bottom mb-3 pb-2">Plafonnements</h3>
          Les subventions sont plafonnées : 

          <ul>
            <li>à 20 000 € par structure de médiation, par année civile et par commune d'intervention</li>
            <li>à 100 000 € par structure de médiation par année civile</li
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% if user.is_operator %}
    {% for alert in subsidies.alerts %}
      <div class="alert alert-warning">
        {{ alert|safe }}
      </div>
    {% endfor %}
  {% endif %}

  <h4 class="mb-4">Appel de fonds</h4>

  <p><a class="btn btn-outline-success" href="{% static '/modele_appel_de_fonds.docx' %}">Télécharger le modèle d'appel de fonds</a></p>

  <div class="accordion accordion-flush border-0 mb-3" id="accordionSubstantiveAppeal">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button btn btn-link w-auto gap-3 collapsed px-0 pt-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
            En savoir plus
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse bg-light" data-bs-parent="#accordionLearnMore">
          <div class="accordion-body">
            {% include "beneficiaries/substantive_appeal.html" %}
          </div>
        </div>
      </div>
    </div>

  <h4 class="mb-4">Détails</h4>

  <h5 class="mb-4">Par année & trimestre</h5>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="align-middle">
          <th>Année</th>
          <th>Trismestre</th>
          <th>Subvention</th>
          {% if user.is_staff %}<th>Nouveaux bénéficiaires orientés</th>{% endif %}
          <th>Prises en charges</th>
          <th>Fin d’accompagnement</th>
        </tr>
      </thead>
      <tbody>
      {% for year, subsidy in subsidies.per_year.items %}
          <tr>
            <td>{{year}}</td>
            <td>T1</td>
            <td>{{subsidy.t1.subsidies|default_if_none:0|floatformat:2}} €</td>
            {% if user.is_staff %}<td>{{subsidy.t1.new}}</td>{% endif %}
            <td>{{subsidy.t1.startSupportCount}}</td>
            <td>{{subsidy.t1.endSupportCount}}</td>
          </tr>
          <tr>
            <td>{{year}}</td>
            <td>T2</td>
            <td>{{subsidy.t2.subsidies|default_if_none:0|floatformat:2}} €</td>
            {% if user.is_staff %}<td>{{subsidy.t2.new}}</td>{% endif %}
            <td>{{subsidy.t2.startSupportCount}}</td>
            <td>{{subsidy.t2.endSupportCount}}</td>
          </tr>
          <tr>
            <td>{{year}}</td>
            <td>T3</td>
            <td>{{subsidy.t3.subsidies|default_if_none:0|floatformat:2}} €</td>
            {% if user.is_staff %}<td>{{subsidy.t3.new}}</td>{% endif %}
            <td>{{subsidy.t3.startSupportCount}}</td>
            <td>{{subsidy.t3.endSupportCount}}</td>
          </tr>
          <tr>
            <td>{{year}}</td>
            <td>T4</td>
            <td>{{subsidy.t4.subsidies|default_if_none:0|floatformat:2}} €</td>
            {% if user.is_staff %}<td>{{subsidy.t4.new}}</td>{% endif %}
            <td>{{subsidy.t4.startSupportCount}}</td>
            <td>{{subsidy.t4.endSupportCount}}</td>
          </tr>
          <tr class="border-bottom border-3 border-dark fw-bold">
            <td>{{year}}</td>
            <td>Total</td>
            <td>{{subsidy.total|default_if_none:0|floatformat:2}} €</td>
            {% if user.is_staff %}<td>{{subsidy.new}}</td>{% endif %}
            <td>{{subsidy.startSupportCount}}</td>
            <td>{{subsidy.endSupportCount}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <h5 class="mb-4 mt-5">Par année & commune</h5>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="align-middle">
          <th>Année</th>
          <th>Commune</th>
          <th>Subvention</th>
          <th>Prises en charges</th>
          <th>Fin d’accompagnement</th>
        </tr>
      </thead>
      <tbody>
      {% for city, data in subsidies.per_city.items %}
        {% for year, subdata in data.per_year.items %}
          {% if forloop.counter == 3 %} <tr class="border-bottom border-3 border-dark"> {% else %} <tr> {% endif %}
            <td>{{year}}</td>
            <td>{{data.fullname}}</td>
            <td>{{subdata.total|default_if_none:0|floatformat:2}} €</td>
            <td>{{subdata.startSupportCount}}</td>
            <td>{{subdata.endSupportCount}}</td>
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if subsidies.per_structure %}
    <h5 class="mb-4 mt-5">Par année & structure</h5>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="align-middle">
            <th>Année</th>
            <th>Structure</th>
            <th>Subvention</th>
            <th>Prises en charges</th>
            <th>Fin d’accompagnement</th>
          </tr>
        </thead>
        <tbody>
          {% for structure, data in subsidies.per_structure.items %}
            {% for year, subdata in data.per_year.items %}
              {% if forloop.counter == 3 %} <tr class="border-bottom border-3 border-dark"> {% else %} <tr> {% endif %}
                <td>{{year}}</td>
                <td>{{structure}}</td>
                <td>{{subdata.total|default_if_none:0|floatformat:2}} €</td>
                <td>{{subdata.startSupportCount}}</td>
                <td>{{subdata.endSupportCount}}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock %}
