{% load static %}

<p>Pour prétendre aux subventions dont vous avez ouvert les droits, il est nécessaire d'envoyer un appel de fonds par trimestre.
Cet appel doit être envoyé après la fin du trimestre concerné, et le montant appelé doit être identique à celui mentionné dans la présente page pour le trimestre concerné.</p>
<p>La Métropole du Grand Paris procédera à 4 versements par an, à savoir :</p>

<ul>
  <li>À partir du 31 avril pour les publics accueillis entre le 1er janvier et le 31 mars</li>
  <li>À partir du 31 août pour les publics accueillis entre le 1er  avril et le 31 Juillet</li>
  <li>À partir du 31 octobre pour les publics accueillis entre le 1er  août et le 30 septembre</li>
  <li>À partir du 31 janvier pour les publics accueillis entre le 1er  octobre et le 31 décembre</li>
</ul>

<p>Il est recommandé d'envoyer l'appel de fonds avant ces dates (donc dans le mois qui suit la fin du trimestre), il est toutefois possible de l'envoyer après ces dates, mais sa prise en compte sera possiblement retardée au trimestre suivant.</p>
