{% load bootstrap_icons %}

{% if beneficiary_list_active or beneficiary_list_assigned or beneficiary_list_other %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="align-middle">
          <th>Nom</th>
          <th>Prénom</th>
          <th>Statut</th>
          <th>N° de téléphone</th>
          <th class="text-end pe-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% include "beneficiaries/table_search_component.html" with beneficiary_list=beneficiary_list_assigned user=user %}
        {% include "beneficiaries/table_search_component.html" with beneficiary_list=beneficiary_list_active user=user %}
        {% include "beneficiaries/table_search_component.html" with beneficiary_list=beneficiary_list_other user=user %}
      </tbody>
      <tfoot>
        <tr class="fw-bold">
          <td colspan="5">Total des bénéficiaires : {{ beneficiaries_count }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
{% else %}
  <div class="alert alert-warning text-center" role="alert">Pas de bénéficiaire </div>
{% endif %}
