{% if beneficiary_list %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="align-middle">
          <th>Nom</th>
          <th>Prénom</th>
          <th>Statut</th>
          <th>N° de téléphone</th>
          <th class="text-end pe-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for beneficiary in beneficiary_list %}
          <tr>
            <td>{{ beneficiary.last_name }}</td>
            <td>{{ beneficiary.first_name }}</td>
            <td>{{ beneficiary.get_status }}</td>
            <td>{{ beneficiary.phone_number.as_national }}</td>
            <td class="text-end">
              <a href="{% url 'beneficiaries:show' beneficiary.id %}" class="btn btn-sm btn-primary" title="Voir le bénéficiaire">
                Voir
              </a>

              {% if beneficiary.status != beneficiary.DONE and user.is_staff is False %}

                {% if perms.beneficiaries.assign_beneficiary %}
                  {% if beneficiary.status == beneficiary.CREATED %}
                    <a href="{% url 'beneficiaries:assign_form' beneficiary.id %}" class="btn btn-sm btn-primary" title="Prendre en charge ce bénéficiaire">
                      Prendre en charge
                    </a>
                  {% endif %}
                {% endif %}

                {% if perms.beneficiaries.end_of_support_beneficiary %}
                  {% if beneficiary.status == beneficiary.ACTIVE %}
                    <a href="{% url 'beneficiaries:end_of_support_form' beneficiary.id %}" class="btn btn-sm btn-primary" title="Mettre fin à l'accompagnement">
                      Terminer l’accompagnement
                    </a>
                  {% endif %}
                {% endif %}

              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="fw-bold">
          <td colspan="5">Total des bénéficiaires : {{ beneficiary_list|length }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
{% else %}
  <div class="alert alert-warning text-center" role="alert">Pas de bénéficiaire </div>
{% endif %}
