{% for beneficiary in beneficiary_list %}
  {% if beneficiary.status != beneficiary.CREATED and beneficiary.structure_operator != user.structure %}
    <tr class="table-active not-allowed" title="Déjà pris en charge par une autre structure">
  {% else %}
    <tr>
  {% endif %}
    <td>{{ beneficiary.last_name }}</td>
    <td>{{ beneficiary.first_name }}</td>
    <td>{{ beneficiary.get_status }}</td>
    <td>{{ beneficiary.get_anonymized_phone_number }}</td>
    <td class="text-end">
      {% if beneficiary.status != beneficiary.DONE and user.is_staff is False %}

        {% if perms.beneficiaries.assign_beneficiary %}
          {% if beneficiary.status == beneficiary.CREATED %}
            <a href="{% url 'beneficiaries:assign_form' beneficiary.id %}" class="btn btn-sm btn-primary" title="Prendre en charge ce bénéficiaire">
              Prendre en charge
            </a>
          {% endif %}
        {% endif %}

        {% if perms.beneficiaries.end_of_support_beneficiary and beneficiary.structure_operator == user.structure %}
          {% if beneficiary.status == beneficiary.ACTIVE %}
            <a href="{% url 'beneficiaries:end_of_support_form' beneficiary.id %}" class="btn btn-sm btn-primary" title="Mettre fin à l'accompagnement">
              Terminer l’accompagnement
            </a>
          {% endif %}
        {% endif %}

      {% endif %}
    </td>
  </tr>
{% endfor %}
